/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background: linear-gradient(to right, #8860d0, #84ceeb);
}

.spec-font {
  font-family: "Lobster", cursive;
}
